{% extends "base.html" %}
{% block title %}Home Page{% endblock title %}

{% block content %}
<h1 class="title">
  This is my github page made with Zola.
</h1>
<a href="notes"></a>
theres nothing here yet
<p></p>
{% endblock content %}
{% block footer %}
<footer>
  <div class="social-links">
    <a href="https://www.github.com/JacobBanta" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/jacob-banta-842775372/" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
  <p>&copy; 2025 Jacob Banta. All rights reserved.</p>
</footer>
  {% endblock footer %}
